{% extends 'base.html' %}

{% block content %}
<h1>Create New Animal</h1>
<form method="POST">
    <div>
        <label>Animal Name:</label>
        <input type="text" name="animal_name" class="form-control"/>
    </div>
    <div>
        <label>Age:</label>
        <input type="number" name="age" class="form-control"/>
    </div>
    <div>
        <label>Breed:</label>
        <input type="text" name="breed" class="form-control"/>
    </div>
    <div>
        <label>Species:</label>
        <input type="text" name="species" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>
{% endblock %}